<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title></title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-0 col-md-2">
			</div>
			<div class="col-xs-12 col-md-8"> 

				<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<h1 class="display-4" id="itemName"><%= item.stationary_name %></h1>
						<p class="lead">Unit Price: <%= item.unit_price %></p>
					</div>
				</div>
				<div>
					Quantity: <input type="int" name="quantity" id="quantity"><br>
					<br>
					<button id="submit" type="button" class="btn btn-primary">Add to cart</button>
				</div>
				<hr>
				<div>
				<a href="/order"><button type="button" class="btn btn-success">Order</button></a>
				</div>
			</div>
			<div class="col-xs-0 col-md-2">
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script>
			$(function(){
				console.log("ready");
					var $h1 = $("h1");
					var $input = $("input");
				$('#submit').on('click', function(){
					var itemName = $h1.text();
					var quantity = $input.val();
					var details = {
						item: itemName,
						quantity: quantity
					};
					console.log(details);
					$.post('/addToCart', details, function(data, status, jqXHR){
						window.location.href = '../stationary';
					});
				});
			});
		</script>
		
	</body>
	</html>